Uniinfo Desk/Uniinfo Desk/Connected Services/ServiceReference2/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarChamado">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarChamadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarChamadoResult" type="tns:ArrayOfCon_Chamado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCon_Chamado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Con_Chamado" nillable="true" type="tns:Con_Chamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Con_Chamado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dataChamado" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="statusAtendimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Consultar2">
        <s:complexType />
      </s:element>
      <s:element name="Consultar2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Consultar2Result" type="tns:ArrayOfChamado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChamado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chamado" nillable="true" type="tns:Chamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chamado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idChamado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idFuncionario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idProblema" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dataChamado" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="statusAtendimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Funcionario" type="tns:Funcionario" />
          <s:element minOccurs="0" maxOccurs="1" name="Problema" type="tns:Problema" />
          <s:element minOccurs="0" maxOccurs="1" name="chamadoAtendimentoes" type="tns:ArrayOfChamadoAtendimento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Funcionario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idFuncionario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ramal" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nComputador" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="setor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chamadoes" type="tns:ArrayOfChamado" />
          <s:element minOccurs="0" maxOccurs="1" name="chamadoAtendimentoes" type="tns:ArrayOfChamadoAtendimento" />
          <s:element minOccurs="0" maxOccurs="1" name="Loginns" type="tns:ArrayOfLoginn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChamadoAtendimento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="chamadoAtendimento" nillable="true" type="tns:chamadoAtendimento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="chamadoAtendimento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idAtendimento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idFuncionario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idChamado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dataAtendimento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Chamado" type="tns:Chamado" />
          <s:element minOccurs="0" maxOccurs="1" name="Funcionario" type="tns:Funcionario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLoginn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Loginn" nillable="true" type="tns:Loginn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Loginn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idLogin" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idFuncionario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idNivelAcesso" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Funcionario" type="tns:Funcionario" />
          <s:element minOccurs="0" maxOccurs="1" name="nivelAcesso" type="tns:nivelAcesso" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="nivelAcesso">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idNivelAcesso" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoAcesso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Loginns" type="tns:ArrayOfLoginn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Problema">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idProblema" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoProblema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chamadoes" type="tns:ArrayOfChamado" />
        </s:sequence>
      </s:complexType>
      <s:element name="verificanivel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginwpf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhawpf" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificanivelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verificanivelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarChamadoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarChamado" />
  </wsdl:message>
  <wsdl:message name="ConsultarChamadoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarChamadoResponse" />
  </wsdl:message>
  <wsdl:message name="Consultar2SoapIn">
    <wsdl:part name="parameters" element="tns:Consultar2" />
  </wsdl:message>
  <wsdl:message name="Consultar2SoapOut">
    <wsdl:part name="parameters" element="tns:Consultar2Response" />
  </wsdl:message>
  <wsdl:message name="verificanivelSoapIn">
    <wsdl:part name="parameters" element="tns:verificanivel" />
  </wsdl:message>
  <wsdl:message name="verificanivelSoapOut">
    <wsdl:part name="parameters" element="tns:verificanivelResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarChamado">
      <wsdl:input message="tns:ConsultarChamadoSoapIn" />
      <wsdl:output message="tns:ConsultarChamadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultar2">
      <wsdl:input message="tns:Consultar2SoapIn" />
      <wsdl:output message="tns:Consultar2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificanivel">
      <wsdl:input message="tns:verificanivelSoapIn" />
      <wsdl:output message="tns:verificanivelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarChamado">
      <soap:operation soapAction="http://tempuri.org/ConsultarChamado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar2">
      <soap:operation soapAction="http://tempuri.org/Consultar2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificanivel">
      <soap:operation soapAction="http://tempuri.org/verificanivel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarChamado">
      <soap12:operation soapAction="http://tempuri.org/ConsultarChamado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar2">
      <soap12:operation soapAction="http://tempuri.org/Consultar2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificanivel">
      <soap12:operation soapAction="http://tempuri.org/verificanivel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:54606/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:54606/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>